.form-control:focus {
    border-color: #5cb85c;
    outline: none;
}
div.head {
    height: 50px;
}

div.context-container {
    margin-top: 150px;
}

div.login-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px #b4b4b4;
    padding-top: 10px;
    padding-bottom: 20px;
}

div.login-container .logo {
    width: 100%;
    padding: 20px;
    text-align: center;

}

div.login-container .logo img {
    width: 120px;
    margin: auto;
}



